/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:ecb3619b9a7c2c959b521d05fa115e62:d5025ac523f1396f395847e70f8ea1a1:3c1891f352ed29a5fc882efd60521485$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(侧面走.png);}

.艾尔法侧面走0001 {width:156px; height:277px; background-position: -2px -2px}
.艾尔法侧面走0002 {width:156px; height:277px; background-position: -160px -2px}
.艾尔法侧面走0003 {width:156px; height:277px; background-position: -318px -2px}
.艾尔法侧面走0004 {width:156px; height:277px; background-position: -476px -2px}
.艾尔法侧面走0005 {width:156px; height:277px; background-position: -634px -2px}
.艾尔法侧面走0006 {width:156px; height:277px; background-position: -792px -2px}
.艾尔法侧面走0007 {width:156px; height:277px; background-position: -950px -2px}
.艾尔法侧面走0008 {width:156px; height:277px; background-position: -1108px -2px}
.艾尔法侧面走0009 {width:156px; height:277px; background-position: -1266px -2px}
.艾尔法侧面走0010 {width:156px; height:277px; background-position: -1424px -2px}
.艾尔法侧面走0011 {width:156px; height:277px; background-position: -1582px -2px}
.艾尔法侧面走0012 {width:156px; height:277px; background-position: -1740px -2px}
.艾尔法侧面走0013 {width:156px; height:277px; background-position: -1898px -2px}
.艾尔法侧面走0014 {width:156px; height:277px; background-position: -2056px -2px}
.艾尔法侧面走0015 {width:156px; height:277px; background-position: -2214px -2px}
.艾尔法侧面走0016 {width:156px; height:277px; background-position: -2372px -2px}
.艾尔法侧面走0017 {width:156px; height:277px; background-position: -2530px -2px}
.艾尔法侧面走0018 {width:156px; height:277px; background-position: -2688px -2px}
.艾尔法侧面走0019 {width:156px; height:277px; background-position: -2846px -2px}
.艾尔法侧面走0020 {width:156px; height:277px; background-position: -3004px -2px}
.艾尔法侧面走0021 {width:156px; height:277px; background-position: -3162px -2px}
