/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6e42e7d5d2c51ed93c6689d8b3ddeb0f:abec1da16167c26e0b8266e3549fc083:8f961ce18cf321a204892ea60f8c861d$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(1.png);}

.艾尔法说话0001 {width:171px; height:273px; background-position: -2px -2px}
.艾尔法说话0002 {width:171px; height:273px; background-position: -175px -2px}
.艾尔法说话0003 {width:171px; height:273px; background-position: -348px -2px}
.艾尔法说话0004 {width:171px; height:273px; background-position: -521px -2px}
.艾尔法说话0005 {width:171px; height:273px; background-position: -694px -2px}
.艾尔法说话0006 {width:171px; height:273px; background-position: -867px -2px}
.艾尔法说话0007 {width:171px; height:273px; background-position: -1040px -2px}
.艾尔法说话0008 {width:171px; height:273px; background-position: -1213px -2px}
.艾尔法说话0009 {width:171px; height:273px; background-position: -1386px -2px}
.艾尔法说话0010 {width:171px; height:273px; background-position: -1559px -2px}
.艾尔法说话0011 {width:171px; height:273px; background-position: -1732px -2px}
.艾尔法说话0012 {width:171px; height:273px; background-position: -1905px -2px}
.艾尔法说话0013 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0014 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0015 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0016 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0017 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0018 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0019 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0020 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0021 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0022 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0023 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0024 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0025 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0026 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0027 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0028 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0029 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0030 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0031 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0032 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0033 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0034 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0035 {width:171px; height:273px; background-position: -2424px -2px}
.艾尔法说话0036 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0037 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0038 {width:171px; height:273px; background-position: -2078px -2px}
.艾尔法说话0039 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0040 {width:171px; height:273px; background-position: -2251px -2px}
.艾尔法说话0041 {width:171px; height:273px; background-position: -2597px -2px}
.艾尔法说话0042 {width:171px; height:273px; background-position: -2770px -2px}
.艾尔法说话0043 {width:171px; height:273px; background-position: -2943px -2px}
.艾尔法说话0044 {width:171px; height:273px; background-position: -3116px -2px}
.艾尔法说话0045 {width:171px; height:273px; background-position: -3289px -2px}
.艾尔法说话0046 {width:171px; height:273px; background-position: -3462px -2px}
.艾尔法说话0047 {width:171px; height:273px; background-position: -3462px -2px}
.艾尔法说话0048 {width:171px; height:273px; background-position: -3462px -2px}
.艾尔法说话0049 {width:171px; height:273px; background-position: -3635px -2px}
.艾尔法说话0050 {width:171px; height:273px; background-position: -3635px -2px}
.艾尔法说话0051 {width:171px; height:273px; background-position: -3635px -2px}
.艾尔法说话0052 {width:171px; height:273px; background-position: -3808px -2px}
.艾尔法说话0053 {width:171px; height:273px; background-position: -3808px -2px}
.艾尔法说话0054 {width:171px; height:273px; background-position: -3462px -2px}
.艾尔法说话0055 {width:171px; height:273px; background-position: -3462px -2px}
.艾尔法说话0056 {width:171px; height:273px; background-position: -3462px -2px}
.艾尔法说话0057 {width:171px; height:273px; background-position: -3635px -2px}
.艾尔法说话0058 {width:171px; height:273px; background-position: -3635px -2px}
.艾尔法说话0059 {width:171px; height:273px; background-position: -3635px -2px}
.艾尔法说话0060 {width:171px; height:273px; background-position: -3808px -2px}
