/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:7ac5499c44bd377f35bc93b3f16da92e:dbe2946bfd6a7b40839ec047908b11ee:7763e4f929710ab85f4320922a6a06f5$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(°¬Âê¶Ëµ°¸â×ßÂ·.png);}

.°¬Âê¶Ëµ°¸â×ßÂ·0001 {width:241px; height:269px; background-position: -2px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0002 {width:241px; height:269px; background-position: -245px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0003 {width:241px; height:269px; background-position: -488px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0004 {width:241px; height:269px; background-position: -731px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0005 {width:241px; height:269px; background-position: -974px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0006 {width:241px; height:269px; background-position: -1217px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0007 {width:241px; height:269px; background-position: -1460px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0008 {width:241px; height:269px; background-position: -1703px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0009 {width:241px; height:269px; background-position: -1946px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0010 {width:241px; height:269px; background-position: -2189px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0011 {width:241px; height:269px; background-position: -2432px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0012 {width:241px; height:269px; background-position: -2675px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0013 {width:241px; height:269px; background-position: -2918px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0014 {width:241px; height:269px; background-position: -3161px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0015 {width:241px; height:269px; background-position: -3404px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0016 {width:241px; height:269px; background-position: -3647px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0017 {width:241px; height:269px; background-position: -3890px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0018 {width:241px; height:269px; background-position: -4133px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0019 {width:241px; height:269px; background-position: -4376px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0020 {width:241px; height:269px; background-position: -4619px -2px}
.°¬Âê¶Ëµ°¸â×ßÂ·0021 {width:241px; height:269px; background-position: -4862px -2px}
