/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1384812e4f8500e860705283100da172:3bac460f5daf912e0265d36fcea25827:992b69d29812cd37f016e35a9830b087$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(艾玛端蛋糕说话.png);}

.艾玛端蛋糕说话0001 {width:253px; height:266px; background-position: -2px -2px}
.艾玛端蛋糕说话0002 {width:253px; height:266px; background-position: -257px -2px}
.艾玛端蛋糕说话0003 {width:253px; height:266px; background-position: -512px -2px}
.艾玛端蛋糕说话0004 {width:253px; height:266px; background-position: -767px -2px}
.艾玛端蛋糕说话0005 {width:253px; height:266px; background-position: -1022px -2px}
.艾玛端蛋糕说话0006 {width:253px; height:266px; background-position: -1277px -2px}
.艾玛端蛋糕说话0007 {width:253px; height:266px; background-position: -1532px -2px}
.艾玛端蛋糕说话0008 {width:253px; height:266px; background-position: -1787px -2px}
.艾玛端蛋糕说话0009 {width:253px; height:266px; background-position: -2042px -2px}
.艾玛端蛋糕说话0010 {width:253px; height:266px; background-position: -2297px -2px}
.艾玛端蛋糕说话0011 {width:253px; height:266px; background-position: -2552px -2px}
.艾玛端蛋糕说话0012 {width:253px; height:266px; background-position: -2807px -2px}
.艾玛端蛋糕说话0013 {width:253px; height:266px; background-position: -3062px -2px}
.艾玛端蛋糕说话0014 {width:253px; height:266px; background-position: -3317px -2px}
.艾玛端蛋糕说话0016 {width:253px; height:266px; background-position: -3572px -2px}
.艾玛端蛋糕说话0018 {width:253px; height:266px; background-position: -3827px -2px}
.艾玛端蛋糕说话0019 {width:253px; height:266px; background-position: -4082px -2px}
.艾玛端蛋糕说话0021 {width:253px; height:266px; background-position: -4337px -2px}
.艾玛端蛋糕说话0022 {width:253px; height:266px; background-position: -4592px -2px}
.艾玛端蛋糕说话0025 {width:253px; height:266px; background-position: -4847px -2px}
.艾玛端蛋糕说话0027 {width:253px; height:266px; background-position: -5102px -2px}
.艾玛端蛋糕说话0028 {width:253px; height:266px; background-position: -5357px -2px}
.艾玛端蛋糕说话0029 {width:253px; height:266px; background-position: -5612px -2px}
.艾玛端蛋糕说话0031 {width:253px; height:266px; background-position: -5867px -2px}
.艾玛端蛋糕说话0033 {width:253px; height:266px; background-position: -6122px -2px}
.艾玛端蛋糕说话0034 {width:253px; height:266px; background-position: -6377px -2px}
.艾玛端蛋糕说话0037 {width:253px; height:266px; background-position: -6632px -2px}
.艾玛端蛋糕说话0040 {width:253px; height:266px; background-position: -6887px -2px}
.艾玛端蛋糕说话0041 {width:253px; height:266px; background-position: -7142px -2px}
.艾玛端蛋糕说话0042 {width:253px; height:266px; background-position: -7397px -2px}
.艾玛端蛋糕说话0043 {width:253px; height:266px; background-position: -7652px -2px}
.艾玛端蛋糕说话0044 {width:253px; height:266px; background-position: -7907px -2px}
