*{box-sizing:border-box;}
html,body{width: 100%;height: 100%;overflow: hidden;background-color: #f6f6f6;}
a{cursor: pointer;text-decoration: none;}
img{border:none;}
.hide{display: none;}
.show{display: block;}
.clear{clear: both;overflow: hidden;zoom:1;}
.left{float: left;}
.right{float: right;}
.col50{width: 50%;}
.col33{width: 33.33%}
.col25{width: 25%;}
.col20{width: 20%;}
.block{display: block; width: 100%;}
.inlineblock{display: inline-block;}
.inline{display: inline;}
.textcenter{text-align: center;}
.textright{text-align: right;}
.stage{
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.layout_mask{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
}
.headertool ,.footertool{
	position: fixed;
	/*background-color: rgba(0,0,0,.5);*/
	height:90px;
	width: 100%;
	overflow: hidden;
	z-index: 1000;
}
.headertool{top: 0;}
.footertool{bottom: 0;}
.headertool>ul>li ,.footertool>ul>li{
	float: left;
	display: inline-block;
	width: 120px;
	height: 90px;
}
.footertool>ul>li{
	width: 33.3%;
}
.footertool>ul{padding: 0 10px;}
.footertool>ul>li>a{
	width: 90px;
}
.headertool>ul>li{
	width: 90pxpx;
}
.headertool>ul>.gohome{
	width: 80%;
}
.headertool>ul>li>a,.footertool>ul>li>a{
	display: inline-block;
	cursor: pointer;
}
.setting_layout {
    height: 90px;
    position: absolute;
    right: 0;
    top: 0;
    width: 460px;
    overflow: hidden;
    z-index: 10001;
    text-align: right;
}
.setting_layout>div{
	width: 84px;
	display: inline-block;
	overflow: hidden;
}
.setting_layout>div>a{
	width: 90px;
	margin-right: 10px;
	height: 90px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
}
.gethome{
	background-image: url('../image/back.png');
	background-repeat:  no-repeat;
	background-position: 20px center;
	background-size: 90px;
	width: 100px;
	height: 100%;
}
.setconfig{
	background-image: url('../image/setting.png');
	background-repeat:  no-repeat;
	background-position:  center;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
/*设置按钮 浮层元素*/
.getmenu{
	background-image: url('../image/menu.png');
	background-repeat:  no-repeat;
	background-position: right center;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
.getnotice{
	background-image: url('../image/notice.png');
	background-repeat:  no-repeat;
	background-position: right center;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
.setmusic{
	background-image: url('../image/music.png');
	background-repeat:  no-repeat;
	background-position: right center;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
.close_setting_layout{
	background-image: url('../image/close.png');
	background-repeat:  no-repeat;
	background-position: right center;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
/*底部 工具层按钮*/
.pre{
	background-image: url('../image/pre.png');
	background-repeat:  no-repeat;
	background-position:  left center;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
.reload{
	background-image: url('../image/refresh.png');
	background-repeat:  no-repeat;
	background-position:  center;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
.next{
	background-image: url('../image/post.png');
	background-repeat:  no-repeat;
	background-position:  center right;
	background-size: 90px;
	width: 100%;
	height: 100%;
}
/*场景及其元素*/
.scene{position: relative;overflow: hidden;}
.scene_0,.scene_1,.scene_2,.scene_3,.scene_4,.scene_5,.scene_6{
	background-repeat:  no-repeat;
	background-position:  center;
	background-size: contain;
	width: 100%;
	height: 100%;
}
.scene_0,.scene_1{
	/*background-image: url('../image/background.jpg');*/
}
.scene_0 .title_box{
	position: absolute;
	top: 35%;
	text-align: center;
	width: 100%;
	z-index: 10;
}
.scene_0 .title_box .start{
	cursor: pointer;
}
/**场景内元素**/
.scene_title {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    -moz-transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    width: 249px;
}
.scene_1 .m_1 {
    /*background-image: url("../image/scene1/alpha_walk.png");*/
    background-position: -2px -2px;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 31%;
    height: 277px;
    left: 0;
    position: absolute;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transform-origin: 0 100% 0;
    -webkit-transform-origin: 0 100% 0;
    -o-transform-origin: 0 100% 0;
    -ms-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
    width: 156px;
}
.scene_1 .m_2{
	/*background-image: url("../image/scene1/emma_walk.png");*/
    background-position: -2px -2px;
    background-repeat: no-repeat;
    background-size: auto auto;
	position:absolute;
	bottom:13%;
	width:241px;
	left:0;
	height: 269px;
	-moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transform-origin: 0 100% 0;
    -webkit-transform-origin: 0 100% 0;
    -o-transform-origin: 0 100% 0;
    -ms-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
}
.scene_1 .m_1.move {
	-webkit-animation: m1_move 1.2s steps(20) 1 forwards;
	animation: m1_move 1.2s steps(20) 1 forwards;
}
.scene_1 .m_2.move {
    -webkit-animation: m2_move 1.6s steps(20) 1 forwards;
	animation: m2_move 1.6s steps(20) 1 forwards;
}
.scene_1 .m_1.speak ,.scene_2 .m_1.speak,.scene_4 .m_1.speak,.scene_6 .m_1.speak{
    background-image: url("../image/scene1/alpha_say.png");
    background-position: -2px -2px;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 31%;
    height: 273px;
    left: 20%;
    position: absolute;
    width: 171px;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transform-origin: 0 100% 0;
    -webkit-transform-origin: 0 100% 0;
    -o-transform-origin: 0 100% 0;
    -ms-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
}
.scene_1 .m_2.speak,.scene_4 .m_2.speak,.scene_6 .m_2.speak{
	background-image: url("../image/scene1/emma_say.png");
    background-position: -2px -2px;
    background-repeat: no-repeat;
    background-size: auto auto;
	position:absolute;
	bottom:13%;
	width:253px;
	left:20%;
	height: 266px;
	-moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transform-origin: 0 100% 0;
    -webkit-transform-origin: 0 100% 0;
    -o-transform-origin: 0 100% 0;
    -ms-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
}
.scene_1 .square,.scene_3 .square,.scene_4 .square,.scene_6 .square{
    /*background-image: url("../image/scene1/square_say.png");*/
    background-position: -2px -2px;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 32%;
    height: 180px;
    left: 56%;
    position: absolute;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transform-origin: 0 100% 0;
    -webkit-transform-origin: 0 100% 0;
    -o-transform-origin: 0 100% 0;
    -ms-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
    width: 180px;
}
.scene_2{
	/*background-image: url('../image/scene_room.jpg');*/
}
.scene_2 .m_1.speak{
	left: 1%;
	bottom: 5%;
}
.scene_2 .question{
	position: absolute;
	bottom: 80px;
	right: 20%;
	cursor: pointer;
}
.graph_1,.graph_3,.graph_4{
	left: 15%;
    position: absolute;
    top: 20%;
    cursor: pointer;
}
.graph_2,.graph_6,.graph_7,.graph_9{
	left: 15%;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.scene_2 .move{
	transition:transform 2s;
	-moz-transition:transform 2s; 
	-webkit-transition:transform 2s; 
	-o-transition:transform 2s; 
}
.scene_2 .moveout{
    -moz-transform: translate(-200%, 0px) rotate(-720deg);
    -webkit-transform: translate(-200%, 0px) rotate(-720deg);
    -o-transform: translate(-200%, 0px) rotate(-720deg);
    -ms-transform: translate(-200%, 0px) rotate(-720deg);
    transform: translate(-200%, 0px) rotate(-720deg);
}
.graph_3,.graph_6{left: 45%;}
.graph_4,.graph_7{left: 70%;}
.scene_3{
	/*background-image: url('../image/scene_outdoor.jpg');*/
}
.scene_3 .bomb{
	position: absolute;
 	height: 182px;
    left: 58%;
    top: 9%;
    width: 264px;
    cursor: pointer;
}
.scene_3 .square{
	left: -20%;
    bottom: 20%;
    transition:left 2s .4s;
	-moz-transition:left 2s .4s; 
	-webkit-transition:left 2s .4s; 
	-o-transition:left 2s .4s; 
}
.scene_3 .square.active{
	left: 10%;
}
.scene_3 .question {
    bottom: 80px;
    right: 20%;
    position: absolute;
    cursor: pointer;
}
.scene_4 .knock{
	/*background-image: url("../image/scene4/framen_knock.png");*/
    background-position: -2px -2px;
    background-repeat: no-repeat;
    background-size: auto auto;
	position: absolute;
	left: 5%;
	top: 5%;
	width: 180px;
	height: 180px;
}
.scene_5 .sprite{
	position: absolute;
}
.scene_5 .graph_5{top: 10%;left: 10%;}
.scene_5 .graph_9{top: 12%;left: 40%;}
.scene_5 .graph_8{
	top: -100%;left: 80%;
	transition:top 2s;
	-moz-transition:top 2s; 
	-webkit-transition:top 2s; 
	-o-transition:top 2s; 
}
.scene_5 .graph_10{top: 10%;left: 60%;}
.scene_5 .graph_11{top: 30%;left: 10%;}
.scene_5 .graph_12{top: 35%;left: 30%;}
.scene_5 .graph_13{top: 30%;left: 60%;}
.scene_5 .graph_14{top: 60%;left: 20%;}
.scene_5 .graph_15{top: 30%;left: 72%;}
.scene_5 .graph_16{top: 60%;left: 40%;}
.scene_5 .graph_17{top: 72%;left: 63%;}
.scene_5 .graph_8.active{top: 52%;}

.scene_6 .graph_1{
	left: 40%;
	top: 40%;
}
.scene_6 .graph_3{
	left: 55%;
	top: 37%;
}
.scene_6 .graph_6{
	left: 67%;
	top: 40%;
}
.scene_6 .graph_8{
	position: absolute;
    left: 78%;
    top: 48%;
}
.scene_6 .graph_10{
	position: absolute;
    left: 76%;
    top: 56%;
}
.scene_6 .graph_11{
	position: absolute;
    left: 75%;
    top: 65%;
}
.scene_6 .graph_12{
   	position: absolute;
    left: 55%;
    top: 68%;

}
.scene_6 .graph_13{
   	position: absolute;
    left: 45%;
    top: 65%;
}
/*按钮功能图层*/
.nemu_layout {
    background-color: #f6f6f5;
    height: 300px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    top: 100px;
    width: 400px;
    z-index: 100;
}

@keyframes m1_move{
	0% {
	   left:0;
	}
	100% {
		left:20%;
	}
}
@-webkit-keyframes m1_move {
	0% {
		left:0;
	}
	100% {
		left:20%;
	}
}
@keyframes m2_move{
	0% {
		left:0;  
	}
	100% {
		left:20%;
	}
}
@-webkit-keyframes m2_move {
	0% {
	  left:0;
	}
	100% {
		left:20%;
	}
}
.dialog_global_layout{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}
/* tip */
.tip_msg {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: #ccc;
    font-size: 16px;
    height: 60px;
    left: 50%;
    line-height: 60px;
    margin-left: -100px;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 200px;
}
