/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:ee5c092a66ca6f5cb8f9cbc5129b8fb7:2308fb90d4af9ed2585a9223aea8de43:acad541c0f2be6c91f08ca04cbb96b66$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(三角形.png);}

.三角形0001 {width:256px; height:353px; background-position: -2px -2px}
.三角形0002 {width:256px; height:353px; background-position: -260px -2px}
.三角形0003 {width:256px; height:353px; background-position: -518px -2px}
.三角形0004 {width:256px; height:353px; background-position: -776px -2px}
.三角形0006 {width:256px; height:353px; background-position: -1034px -2px}
.三角形0007 {width:256px; height:353px; background-position: -1292px -2px}
.三角形0009 {width:256px; height:353px; background-position: -1550px -2px}
.三角形0010 {width:256px; height:353px; background-position: -1808px -2px}
.三角形0012 {width:256px; height:353px; background-position: -2066px -2px}
.三角形0019 {width:256px; height:353px; background-position: -2324px -2px}
.三角形0020 {width:256px; height:353px; background-position: -2582px -2px}
.三角形0021 {width:256px; height:353px; background-position: -2840px -2px}
.三角形0022 {width:256px; height:353px; background-position: -3098px -2px}
.三角形0023 {width:256px; height:353px; background-position: -3356px -2px}
.三角形0024 {width:256px; height:353px; background-position: -3614px -2px}
.三角形0031 {width:256px; height:353px; background-position: -3872px -2px}
.三角形0032 {width:256px; height:353px; background-position: -4130px -2px}
.三角形0033 {width:256px; height:353px; background-position: -4388px -2px}
.三角形0034 {width:256px; height:353px; background-position: -4646px -2px}
.三角形0035 {width:256px; height:353px; background-position: -4904px -2px}
.三角形0036 {width:256px; height:353px; background-position: -5162px -2px}
.三角形0040 {width:256px; height:353px; background-position: -5420px -2px}
