/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:c29426fa331dad3ff664f732c4986e13:36c9cfa7650d08ae36d0d54144cc4746:4ae4f9db7e2b1810e259455b6e7b88c8$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(长方形.png);}

.正方形说话0001 {width:180px; height:180px; background-position: -2px -2px}
.正方形说话0002 {width:180px; height:180px; background-position: -184px -2px}
.正方形说话0003 {width:180px; height:180px; background-position: -366px -2px}
.正方形说话0004 {width:180px; height:180px; background-position: -548px -2px}
