/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:abf2bc7f35ce66e586d5c6923c359869:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(1.png);}

.RECOVER_阿尔法正面背手说话0001 {width:250px; height:250px; background-position: -2px -2px}
.RECOVER_阿尔法正面背手说话0002 {width:250px; height:250px; background-position: -254px -2px}
.RECOVER_阿尔法正面背手说话0003 {width:250px; height:250px; background-position: -506px -2px}
.RECOVER_阿尔法正面背手说话0004 {width:250px; height:250px; background-position: -758px -2px}
