.hide{display: none;}
.show{display: block;}
.block{display: block;}
.clear{clear: both;overflow: hidden;zoom:1;}
.left{float: left;}
.right{float: right;}
.col50{width: 50%;}
.col33{width: 33.33%}
.col25{width: 25%;}
.col20{width: 20%;}
.block{display: block; width: 100%;}
.inlineblock{display: inline-block;}
.inline{display: inline;}
.textcenter{text-align: center;}
.textright{text-align: right;}
.fz_0{font-size: 0;}
.font-warning{
    color: #f58d49;
}
.box {
    display:-moz-box;
    display:-webkit-box;
    display:box;
    width: 100%;
}
.boxflex {
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    height: inherit;
    width: 100%;
}
.boxflex3 {
    -moz-box-flex:3;
    -webkit-box-flex:3;
    box-flex:3;
    height: inherit;
    width: 100%;
}
.boxflex4 {
    -moz-box-flex:4;
    -webkit-box-flex:4;
    box-flex:4;
    height: inherit;
    width: 100%;
}
.boxflex6 {
    -moz-box-flex:6;
    -webkit-box-flex:6;
    box-flex:6;
    height: inherit;
    width: 100%;
}
/*box高拉伸一致*/
.box-align-stretch{
    -moz-box-align:stretch;
    -webkit-box-align:stretch;
    -o-box-align:stretch;
    box-align:stretch;
}
.box-pack-center{
    -moz-box-pack:center;
    -webkit-box-pack:center;
    -o-box-pack:center;
    box-pack:center;
}
.row{
    overflow: hidden;
    clear: both;
    display: inline-block;
    width: 100%;
}
.row [class^="col-"]{
    float: left;
}
.col-12{
    width: 100%;
}
.col-6{
    width: 50%;
}
.col-4{
    width: 33.333%;
}
.col-3{
    width: 25%;
}

.margin-10{margin: 10px;}
.padding-10{padding:10px;}

.icon{
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.icon_record{
	background-image: url(../image/icon_micphone.png);
	background-size: 180px;
}

html,body{background-color: #f3eddd;}
.content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 0.6rem;
    display:inline-block;
    padding: 0 0.4rem;
}
.banner{
    position: relative;
}
.btn{
    display: inline-block;
    width: 100%;
    border:none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.btn:hover,.btn:active{
    opacity: .8;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    font-size: 0;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
}
.btn_sign{
    color: #fff;
    background-color: #ca2218;
    font-size: 0.64rem;
    height: 1.6rem;
    line-height: 1.6rem;
}
.footer .tab{
    font-size: 0.48rem;
    background-color: #646d8c;
    color: #fff;
}
.footer .tab.active{
    background-color: #525c7f;
    color: #37d900;
}
.footer .tab .btn {
    background-repeat: no-repeat;
    display: block;
    height: 1.6rem;
    line-height: 1.6rem;
}
.footer .tab .btn p{
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: left;
    padding-left: 20px; 
}
.footer .tab .btn .icon {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 0.64rem;
    height: 1.6rem;
}

.tab-home .icon-yd {
    background-image: url("../image/icon_book_gray.png");
    background-size: 100% auto;
    height: 1.6rem;
    margin-left: 30px;
    width: 0.64rem;
}
.tab-home.active .icon-yd{
    background-image: url(../image/icon_book_green.png);
}
.tab-my .icon-my{
    background-image: url(../image/icon_mine_gray.png);
    background-size: 100% auto;
    height: 1.6rem;
    margin-left: 30px;
    width: 0.64rem;
}
.tab-my.active .icon-my{
    background-image: url(../image/icon_mine_green.png);
}
/*slider*/
.slider{
	padding-top: 0.533333rem;
}
.slider .hiSlider-item{
    text-align: center;
}
.slider .hiSlider-item>img{
    width: 50%;
}
.slider .reader{
    font-size: 12px;
    padding: 6px 0;
}
[data-dpr="2"] .reader{
    font-size: 24px;
    padding: 24px 0;
}
[data-dpr="3"] .reader {
    font-size: 36px;
    padding-top: 36px 0;
}

.slider .read_time {
    font-size: 12px;
}
[data-dpr="2"] .read_time{
    font-size: 24px;
}
[data-dpr="3"] .read_time{
    font-size: 36px;
}

.slider .title{
	font-size: 24px;
	line-height: 36px;
}
[data-dpr="2"] .title{
    font-size: 48px;
    line-height: 72px;
}
[data-dpr="3"] .title{
    font-size: 72px;
    line-height: 108px
}
.task_info{
	position: absolute;
	top: 0;
	right: 0;
	width: 1.6rem;
	height: 1.6rem;
	background:url(../image/bg_weekinfo.png) no-repeat center;
	background-size: 100%;
}
.task_info > p {
    font-size: 12px;
    line-height: 0.8rem;
    text-align: center;
    vertical-align: middle;
}
.task_info > p>span{
	font-size: 24px;
	color: #f45f00;
}

.action{
	margin-top: 50px;
	text-align: center;
}
.action .recorder{
	margin-top: 50px;
    width: 180px;
    height: 180px;
    background-color: #33cc00;
    border-radius: 50%;
    display: inline-block;
}

/*我的*/
.content-my{
    margin-top:1.466666rem;
}
.user_img{
    width: 1.86666rem;
    height: 1.86666rem;
    border:0.13333rem solid #f39c57;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.user_img>img{
    border-radius: 50%;
    width: 100%;
}
.user_name{
    font-size: 0.32rem;
    margin-top:0.13333rem;
    line-height: 1;
    color: #191919;
}
.list .list-item{
    border-bottom: 1px solid #d3d3d3;
    padding-top:0.72rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
}
.list .list-item:last-child{
    border-bottom: none;
}
.list .list-item .icon{
    width: 0.48rem;
    height: 0.48rem;
    background-position: center top;
    background-size: 100%;
    margin-left: 0.266666667rem;
}
.list .list-item .title{
    font-size: 0.48rem;
    color: #525c7e;
    padding-left: 0.9333333rem;
    line-height: 1;
}
.list .list-item .icon_user{
    background-image: url(../image/icon_my.png);
}
.list .list-item  .icon_progress{
    background-image: url(../image/icon_progress.png);
}
.list .list-item .icon_history{
    background-image: url(../image/icon_history.png);
}
.list .list-item .icon_promiss{
    background-image: url(../image/icon_promiss.png);
}
.list .list-item .icon_help{
    background-image: url(../image/icon_help.png);
}
.pause-read,.pause-read:link,.pause-read:hover,.pause-read:active{
    font-size: 0.48rem;
    line-height: 1;
    text-decoration: underline;
    padding:0.4rem 0;
    color: #323f6c;
}

/*我的个人信息*/
.content-myinfo{
    margin-top: 0.8533333rem;
    overflow-y: scroll;
    padding-bottom: 2.6rem;
}
.goback{
    margin-left: 0.3466666rem;
    display: inline-block;
    width: 0.56rem;
    height: 0.48rem;
    background-image: url(../image/return.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left center;
    margin-bottom: 0.13333333rem;
}
.content-myinfo .user_img{
    position: relative;
}
.content-myinfo .user_img .add_img{
    position: absolute;
    width: 0.7466666rem;
    height: 0.7466666rem;
    bottom: -0.133333rem;
    right: -0.2733333rem;
    display: inline-block;
    background:url(../image/add_user_img.png) no-repeat center;
    background-size: 100%;
    cursor: pointer;
}
.content-myinfo .user_img .add_img>input{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.form-box{
    margin-top: 1.3333333rem;
    padding: 0.4rem 1.06666667rem;
}
.form-control,.sex-box{
    margin-bottom: 0.26666666rem;
}
.sex-box {
    padding: 0.4rem 0.48rem;
    font-size: 0.32rem;
}
.sex-box span{
    display: inline-block;
    vertical-align: top;
    margin-top: 0.08rem;
}
.sex-box .sex-item{
    padding-left: 0.64rem;
}
.sex-item .regular-radio {
    display: none;
}
.sex-item label {
    display: inline;
}
.regular-radio + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    padding: 9px;
    position: relative;
}
.regular-radio:checked + label::after {
    background: #99a1a7 none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    content: " ";
    font-size: 32px;
    height: 12px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 12px;
}
.regular-radio:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    color: #99a1a7;
}
.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.form-control{
    display: block;
}
.form-control >input{
    width: 100%;
    height: 0.96rem;
    border:1px solid #c7c8c6;
    border-radius: 0.5rem;
    padding: 0 0.48rem;
    font-size: 0.32rem;
    color: #4c5976;
}
.edit>.edit-userinfo{
    display: inline-block;
    width: 100%;
    height: 0.96rem;
    border-radius: 0.5rem;
    padding: 0 0.48rem;
    font-size: 0.48rem;
    color: #fff;
    background-color: #33cc00;
    text-align: center;
    line-height: 0.96rem;
    border: none;
}
/*我的进度及评分*/
.content-myinfo .user{
    position: relative;
}
.content-myinfo .user .medal{
    position: absolute;
    top: 0.1333333rem;
    right: 1.2rem;
    width: 0.9066666rem;
}
.content-myinfo .user .read-total{
    text-align: center;
    color: #535879;
    font-size: 0.3733333rem;
    padding: 0.32rem 0 0.133333rem;
    border-bottom: 1px solid #c4c7c7;
}
/***svg***/
.processingbar1,.processingbar2,.processingbar3{
    position: relative;
    margin-top: 1.466666rem; 
    text-align: center;
}
.processingbar2{
    margin-top: 0.32rem;
    margin-bottom: 0.32rem;
}
.processingbar1 .text-info,.processingbar3 .text-info{
    position: absolute;
    top: 0.48rem;
    left: 0;
    width: 100%;
    display: inline-block;
    font-size: 0.32rem;
}
.processingbar2 .text-info{
    position: absolute;
    top: 0.6933333rem;
    left: 0;
    width: 100%;
    display: inline-block;
    font-size: 0.64rem;
}
.processingbar2 .text-info .slogn>img{
    width: 1.28rem;
}
.processingbar1 .text-info .num,.processingbar3 .text-info .num{
    font-size: 0.533333rem;
}
/*********svg end*********/
.user .read-total>span{
    color: #f16500;
}
.progress-list .start-time{
    font-size: 0.32rem;
    color: #535879;
    line-height: 1;
    padding-bottom: 0.133333rem;
    text-indent: 0.08rem;
}
.progress-list .list{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.466666rem;
}
.progress-list .list .list-item{
    padding: 0 0.26666rem 0 0.533333rem;
    font-size: 0.32rem;
    height: 1.2rem;
    line-height: 1.2rem;
}
.progress-list .list .list-item .week-name{
    color: #404040;
}

/*我的阅读历史*/
.histroy-list .list-item{
    padding: 0;
    height: 3.6rem;
}
.histroy-list .list-item .book-cover{
    text-align: center;
   /* font-size: 3.6rem;*/
    height: 3.6rem;
    line-height: 3.6rem;
}
.histroy-list .list-item .book-cover>img{
    width: 2rem;
    height: 2.533333rem;
    overflow: hidden;
    vertical-align: middle;
}
.histroy-list .list-item .read-status{
    text-align: right;
    /* font-size: 3.6rem;*/
    height: 3.6rem;
    line-height: 3.6rem;
}
.histroy-list .list-item .time{
    line-height: 3.6rem;
    text-align: right;
    font-size: 0.32rem;
    color: #323f6c;
}
.histroy-list .list-item .read-status>img{
    width:2.4rem;
    overflow: hidden;
    vertical-align: middle;
}
.histroy-list .list-item .play,.histroy-list .list-item .display{
    /* font-size: 3.6rem;*/
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: right;
    display: block;
}
.histroy-list .list-item .play>img,.histroy-list .list-item .display>img{
    width: 1.2rem;
    vertical-align: middle;
}
.histroy-list .list-item .book-cover.unfinish{
    opacity: 0.3;
}


/**我的保证金**/
.content-deposit{
    padding-bottom: 2.6rem;
    overflow-y:scroll; 
}
.content-deposit .deposit-list{
    margin-left: 0.533333rem;
    margin-right: 0.24rem;
    margin-top: 1rem;
}
.deposit-list .list .list-item{
    padding: 0.32rem 0.48rem 0.32rem 0.08rem;
    height: 1.46666666rem;
}
.content-deposit .deposit-icon>img{
    height: 1.57333333rem;
    vertical-align: bottom;
    margin-top: 0.2rem;
}
.deposit-list .list .list-item.deposit-money{
    padding: 0 0.48rem 0 0;
    height: 2rem;
}
.deposit-list .list .list-item .money{
    font-size: 0.58666666rem;
    vertical-align: bottom;
    line-height: 1;
    margin-top: 1rem;
    color: #f58d49;
}

.deposit-list .list .list-item p{
    font-size: 0.32rem;
    color: #525c7e;
    line-height: 1;
    vertical-align: bottom;
}
.deposit-list .list .list-item .act-time{
    font-size: 0.24rem;
    line-height: 1;
    vertical-align: bottom;
    color: #41456a;
    margin-bottom: 0.2rem;
}
/* 
@3倍图方案
dpr<=2 都用750下的2倍图
dpr =3 用1125下的 3倍图
*/
.btn-android {
  background-image: url("../img/@2x/android.png?v=@@version");
  [data-dpr="3"] & {
    background-image: url("../img/@3x/android.png?v=@@version");
  }
}



/* 1px 边框 IOS直接用1px android需重新适配*/
.setTopLine(@c: #C7C7C7) {
  & {
    position: relative;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid @c;
  }

  [data-dpr="1"] &:before {
    transform-origin: 0 0;
    transform: scaleY(0.5);
  }
}