/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:aa2aa712c98b523fcfc8b275eaaa091d:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sjx.png);}

.元件-30001 {width:264px; height:182px; background-position: -2px -2px}
.元件-30002 {width:264px; height:182px; background-position: -268px -2px}
.元件-30003 {width:264px; height:182px; background-position: -534px -2px}
.元件-30004 {width:264px; height:182px; background-position: -800px -2px}
.元件-30005 {width:264px; height:182px; background-position: -534px -2px}
.元件-30006 {width:264px; height:182px; background-position: -1066px -2px}
.元件-30007 {width:264px; height:182px; background-position: -1332px -2px}
.元件-30008 {width:264px; height:182px; background-position: -1066px -2px}
.元件-30009 {width:264px; height:182px; background-position: -1598px -2px}
.元件-30010 {width:264px; height:182px; background-position: -1864px -2px}
.元件-30011 {width:264px; height:182px; background-position: -1864px -2px}
.元件-30012 {width:264px; height:182px; background-position: -2130px -2px}
.元件-30013 {width:264px; height:182px; background-position: -2130px -2px}
.元件-30014 {width:264px; height:182px; background-position: -2130px -2px}
.元件-30015 {width:264px; height:182px; background-position: -800px -2px}
.元件-30016 {width:264px; height:182px; background-position: -800px -2px}
.元件-30017 {width:264px; height:182px; background-position: -800px -2px}
.元件-30018 {width:264px; height:182px; background-position: -2396px -2px}
.元件-30019 {width:264px; height:182px; background-position: -2662px -2px}
.元件-30020 {width:264px; height:182px; background-position: -2928px -2px}
.元件-30021 {width:264px; height:182px; background-position: -3194px -2px}
.元件-30022 {width:264px; height:182px; background-position: -3460px -2px}
.元件-30023 {width:264px; height:182px; background-position: -3726px -2px}
.元件-30024 {width:264px; height:182px; background-position: -3992px -2px}
