/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d6c4224b061c4c649c136044f9dd5e74:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(zfx.png);}

.正方形说话0001 {width:180px; height:180px; background-position: -2px -2px}
.正方形说话0002 {width:180px; height:180px; background-position: -184px -2px}
.正方形说话0003 {width:180px; height:180px; background-position: -366px -2px}
.正方形说话0004 {width:180px; height:180px; background-position: -184px -2px}
.正方形说话0005 {width:180px; height:180px; background-position: -366px -2px}
.正方形说话0006 {width:180px; height:180px; background-position: -548px -2px}
.正方形说话0007 {width:180px; height:180px; background-position: -730px -2px}
.正方形说话0008 {width:180px; height:180px; background-position: -548px -2px}
